profile = conventional
version = 0.26.1

indicate-multiline-delimiters = closing-on-separate-line
break-cases = toplevel
break-infix-before-func = true
break-infix = fit-or-vertical
exp-grouping = preserve
cases-exp-indent = 2
nested-match = align
parens-tuple = multi-line-only
space-around-arrays = false
space-around-lists = false
space-around-variants = false
function-indent = 0
type-decl = sparse
